.sentimentContainer {
    padding: 2%;
    background-color: white;
    margin-top: 5%;
}

.keyEvents {
    margin-top: 3%;
}

.listContainer {
    width: 55vw;
    display: flex;
    justify-content: space-between;
}

.marketInfo {
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    background: lightblue;
    display: flex;
    width: 22vw;
    padding: 3%;

    img {
        width: 4vw;
        height: 7vh;
    }
}

.marketTrendInfo {
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    display: flex;
    background: lightgreen;
    width: 22vw;
    padding: 3%;

    img {
        width: 4vw;
        height: 7vh;
    }
}

.estimatedContainer {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.analystEstimates {
    margin: 3% 0;
}

.percentageOFInsists {


    color: green;
    width: 6vw;
    height: 10vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 235, 148, 0.4);

    h1 {
        font-weight: 500;
    }
}

.insistsRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.buy {
    color: grey;
    display: flex;
    align-items: center;

    div {

        width: 20vw;
        height: 1vh;
        background-color: green;
        border-radius: 12px;
    }
}

.hold {
    color: gray;
    display: flex;
    align-items: center;

    div {
        width: 6vw;
        height: 1vh;
        background-color: grey;
        border-radius: 12px;
    }
}

.sell {
    color: grey;
    display: flex;
    align-items: center;

    div {
        width: 11vw;
        height: 1vh;
        background-color: red;
        border-radius: 12px;
    }
}